@model SalerModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.tilte = "Luyện thi chứng chỉ MOS - Hướng dẫn remote";
    ViewBag.active = 2;

}

<h1>Hướng dẫn Remote ở đây</h1>
