@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

.body_tbl_SO {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 50px 0 50px;
}

.table_container h1 {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
}

.table_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: auto;
    max-width: 100%;
    min-height: 480px;
    height: 500px;
    max-height:100%;
    padding: 30px;
}
.table_container table{
    width:fit-content;
}
